$color-primary: #fff;
$color-bg: #000;
$color-gray-light: #222;
$color-gray-medium: #333;
$color-text: #fff;
$color-text-light: #000;
$color-acent: #ffcc00;


$font-body: 'Inter', sans-serif;

$bp-mobile: 768px;